<div class="container">

   <div style="height: 100px;"></div>

   <div class="d-flex justify-content-center p-5">
     <font size="7">About</font>
   </div>

  <div class="d-flex justify-content-center">
     <p>
       ながのCAKEは全国発送可能なケーキ屋さんです。<br>
       お子様からお年寄りの方までお召し上がりいただけるよう、<br>
       様々なバリエーションをご用意しております。<br>
       また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
       ぜひご注文ください。<br>
     </p>
  </div>
</div>